<ion-content padding class="owl-styles1">

  <ion-img src="http://www.fau.edu/publicaffairs/branding/images/university-logo-present.jpg"></ion-img>
  <ion-card-header class="tc">
    <ion-card-title>Account Information</ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-label color="dark">Student Name</ion-label>
    {{user.first}} {{user.last}}
  </ion-item>

  <ion-item>
    <ion-label color="dark">E-mail</ion-label>
    {{user.email}}
  </ion-item>

  <ion-item>
    <ion-label color="dark">Z-Number:</ion-label>
    {{user.znumber}}
  </ion-item>

  <ion-item>
    <ion-label color="dark">Phone Number</ion-label>
    {{user.phone}}
  </ion-item>

  <ion-item>
    <ion-label color="dark">Favorite Restaurant</ion-label>
    <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One" ok-text="Okay"
      cancel-text="Dismiss">
      <ion-select-option value="Blendz Cafe">Blendz Cafe</ion-select-option>
      <ion-select-option value="ChickNGrill">Chick-N-Grill</ion-select-option>
      <ion-select-option value="Einstein's">Einstein's</ion-select-option>
      <ion-select-option value="JowJing">Jow Jing</ion-select-option>
      <ion-select-option value="PapaJohns">Papa John's</ion-select-option>
      <ion-select-option value="Wendys">Wendy's</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="dark">Owl-Bucks Balance</ion-label>
    $0
  </ion-item>

  <ion-button expand="block" shape="round" color="danger" (click)="logout()">Logout</ion-button>
</ion-content>