<ion-header class="owl-styles1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{rname}}</ion-title>
    <ion-buttons slot="end">
      <div class="hbutton" (click)="presentPopover($event)">
        Add<ion-icon name="add"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="owl-styles1">
  <div *ngFor="let review of reviews | async">
    <ion-card mode="md">
      <ion-card-header>
        <ion-card-title mode="md">{{review.name}}</ion-card-title>
        <ion-card-subtitle mode="md">
          <div *ngIf="review.rating == 1">
            <ion-icon name="star"></ion-icon>
          </div>
          <ion-icon ion-icon name="star" color="secondary" *ngFor='let in of getRating(review.rating)'></ion-icon>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content mode="md">
        {{review.comment}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>