<ion-header class="owl-styles1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{rname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="owl-styles1">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="item.url"></ion-img>
      </ion-col>
      <ion-col class="price">
        ${{item.cost}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>{{item.name}}</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        {{item.description}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button (click)="addItem(quantity)">Add to order</ion-button>
          <ion-label position="stacked">quantity</ion-label>
          <ion-input type="number" value="1" clear-on-edit="true" [(ngModel)]="quantity"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>