<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="members/tabs/(home:home)"></ion-back-button>
    </ion-buttons>
    <ion-title>{{rname}}</ion-title>
    <ion-buttons slot="end">
      <div class="hbutton" (click)=getReviews()>Reviews<ion-icon name="ios-chatbubbles"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let item of items | async">
    <ion-item (click)=getItem(item.iid)>
      <ion-thumbnail slot="start">
        <ion-img [src]="item.url"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{item.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>