div{
    align-content: center;
    text-align: center;

}
ion-icon{
    font-size: 150px;
    color: green;
  
}
h2{
    position: center;
    text-align: center;
}
h3{
    position: center;
    text-align: center;
}