<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  Open orders:
    <div *ngFor="let cart of carts | async">
        <ion-card>
            <ion-card-header>
              <ion-card-title>{{cart.rname}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>

              <ion-list *ngFor="let item of items | async">
                <ion-item>
                  <ion-label>
                    {{item.name}}
                  </ion-label>
                </ion-item>
              </ion-list>

            </ion-card-content>
          </ion-card>
      </div>
  
  </ion-content>