<ion-content padding class="owl-styles1">
  <h2>Open orders:</h2>
  <div *ngIf="!filledCarts || filledCarts.length === 0">
    <p><i>cart is empty</i></p>
  </div>
  <div *ngFor="let cart of filledCarts">
    <ion-card mode="md">
      <ion-card-header>
        <ion-card-title mode="md">{{cart.cart.rname}} Order</ion-card-title>
      </ion-card-header>
      <ion-card-content mode="md">
        <ion-list *ngFor="let item of cart.item">
          <ion-item>
            <ion-label>
              {{item.quantity}} {{item.name}}<span *ngIf="item.quantity > 1">s</span>
            </ion-label>
            <ion-icon name="close-circle" (click)="remove(item.iid,cart.cart.cid)"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="filledCarts.length > 0">
    <ion-button expand="block" (click)=checkout()>Submit Order
    </ion-button>
  </div>
</ion-content>